################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CarDealership.Api.Tests/bin/Debug/net5.0
/CarDealership.Application/bin/Debug/net5.0/ref
/CarDealership.Application/bin/Debug/net5.0
/CarDealership.Application/obj
/CarDealership.Application.Tests/bin/Debug/net5.0
/CarDealership.Application.Tests/obj
/.vs
/CarDealership.Api/bin/Debug/net5.0
/CarDealership.Api.Tests/obj
/CarDealership.Commands/obj
/CarDealership.Data.Interfaces/obj
/CarDealership.Domain.Commands/bin/Debug/net5.0
/CarDealership.Domain.Commands/obj
/CarDealership.Domain.Commands.Tests/bin/Debug/net5.0
/CarDealership.Domain.Commands.Tests/obj
/CarDealership.Domain.Common/obj
/CarDealership.Domain.DataInterfaces/bin/Debug/net5.0
/CarDealership.Domain.DataInterfaces/obj
/CarDealership.Domain.Entities/bin/Debug/net5.0
/CarDealership.Domain.Entities/obj
/CarDealership.Domain.Queries/bin/Debug/net5.0
/CarDealership.Domain.Queries/obj
/CarDealership.Infrastructure.DataAccess/bin/Debug/net5.0
/CarDealership.Infrastructure.DataAccess/obj
/CarDealership.Api/obj
/CarDealership.Api.Tests/bin/Release/net5.0
/CarDealership.Domain.Commands.Tests/bin/Release/net5.0
/CarDealership.Api.Tests/CarDealership.Api.Tests.csproj
/CarDealership.Application.Tests/bin/Release/net5.0
